.chessboard-container {

  width: 100%;
  height: 100%;

  // Position
  position: relative;

  // Grid
  display: grid !important;
  grid-template-columns: 5% auto;
  grid-template-rows: 5% auto;

  .files {
    grid-column: 2;
    grid-row: 1;
  }

  .ranks {
    grid-column: 1;
    grid-row: 2;
  }

  .chessboard {

    // Position
    position: relative;

    width: 100%;
    grid-column: 2;
    grid-row: 2;

    .row {
      width: 100%;

      position: relative;
    }
  
    .black {
      display: block;
      background-color: $black;
      width: 12.5%;
      height: 12.5%;

      position: relative;
      // border: 1px solid $black;
    }
  
    .white {
      display: block;
      background-color: $white;
      width: 12.5%;
      height: 12.5%;

      position: relative;
    }

  }

}