.chessboard {

  .black {
    display: inline-block;
    background-color: $black;
    width: 12.5%;
    height: 12.5%;
    // border: 1px solid $black;
  }

  .white {
    display: inline-block;
    background-color: $white;
    width: 12.5%;
    height: 12.5%;
    // border: 1px solid $black;
  }
  

}