.header {
  
  background-color: $black;
  color: $white;

  // Brand
  .brand {
    font-size: 2.1em;
    font-family: $title-font;

    // Margin
    margin-bottom: $base-unit * fibonacci(5);
  }

  // Tagline
  .tagline {
    font-style: italic;

    // Margin
    margin-bottom: $base-unit * fibonacci(6);
  }

  // Version number
  .version {


  }

  // Main menu
  nav.main-menu {

    // Margin
    margin-top: $base-unit * fibonacci(7);

    // Padding
    padding-bottom: $base-unit * fibonacci(6);

    ul {

      li {
        padding-top: $base-unit * fibonacci(4);
        padding-right: $base-unit * fibonacci(4);
      }

      ul {

        li {
          padding-left: $base-unit * fibonacci(4);

          a {
            color: $light-grey;
          }
        }
      }
    }

    a {
      color: $white;
    }
  }

  // User menu
  nav.user-menu {

    // Grid
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    // Margin
    margin-top: $base-unit * fibonacci(6);

    .user {
      grid-column: 1;
      grid-row: 1;
    }

    .sign-out {
      grid-column: 2;
      grid-row: 1;
    }

  }

}