.header {
  
  background-color: $black;
  color: $white;

  .brand {
    font-size: 2.1em;
    font-family: $title-font;

    // Margin
    margin-bottom: $base-unit * fibonacci(5);
  }

  .tagline {
    font-style: italic;

    // Margin
    margin-bottom: $base-unit * fibonacci(6);
  }

  .version {


  }

  nav {

    // Margin
    margin-top: $base-unit * fibonacci(7);

    ul {

      li {
        padding-top: $base-unit * fibonacci(4);
        padding-right: $base-unit * fibonacci(4);
      }

      ul {

        li {
          padding-left: $base-unit * fibonacci(4);

          a {
            color: $light-grey;
          }
        }
      }
    }

    a {
      color: $white;
    }
  }

}