.player {

  // Grid
  display: grid !important;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto auto;

  // Padding
  padding: $base-unit * fibonacci(8);

  // Borders
  border: 1px solid $lightest-grey;

  .player-name {
    grid-column: 1;
    grid-row: 1;
  }

  .player-status {
    grid-column: 1;
    grid-row: 2;

    // Margin
    margin-top: $base-unit * fibonacci(6);
  }

  .player-color {
    grid-column: 1;
    grid-row: 3;

    // Margin
    margin-top: $base-unit * fibonacci(6);
  }

  .player-material {
    grid-column: 1;
    grid-row: 4;

    // Margin
    margin-top: $base-unit * fibonacci(6);
  }

  // On medium
  @media screen and (min-width: $break-medium) {

  }

  // On wide
  @media screen and (min-width: $break-wide) {

  }

}