.move-list {

  width: 100%;
  border-collapse: collapse;

  // Margin
  margin-bottom: $base-unit * fibonacci(4);

  // Table cells
  td {

  }

  // Table headers
  th {

    // Padding
    padding-top: $base-unit * fibonacci(5);
    padding-bottom: $base-unit * fibonacci(5);
  }

  // Table rows
  tr {
    border-top: 1px solid $lightest-grey;
  }

  .grey {
    background-color: $lightest-grey;
  }

  .black {
    background-color: $black;
    color: $white;
  }

  .white {
    background-color: $white;
    color: $black;
  }

}