$black: #000000;
$darkest-grey: lighten($black, 13%);
$dark-grey: lighten($black, 21%);
$middle-grey: lighten($black, 34%);
$light-grey: lighten($black, 55%);
$lightest-grey: lighten($black, 89%);
$white: #ffffff;