.save-slot {

  display: grid !important;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;

  // Padding
  padding: $base-unit * fibonacci(8);

  // Borders
  border: 1px solid $lightest-grey;

  .character-image {
    grid-column: 1;
    grid-row: 1;
  }

  .party-images {
    grid-column: 1;
    grid-row: 2;
  }

  .character-level {

  }

  .total-play-time {
    grid-column: 1;
    grid-row: 4;
  }


}