/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.border-solid {
  border: 1px solid #e3e3e3;
}

.border-groove {
  border: 1px groove #e3e3e3;
}

.border-double {
  border: 6px double #e3e3e3;
}

.mages {
  background: repeating-linear-gradient(325deg, #ffffff, #ffffff 5px, #8c8c8c 5px, #8c8c8c 8px);
  /* End color */
  background-size: 100%;
  height: 233px;
}

.loyalists {
  background-color: #ffffff;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  background-image: -webkit-linear-gradient(45deg, #8c8c8c 25%, transparent 25%, transparent 75%, #8c8c8c 75%, #8c8c8c), -webkit-linear-gradient(45deg, #8c8c8c 25%, transparent 25%, transparent 75%, #8c8c8c 75%, #8c8c8c);
  background-image: -moz-linear-gradient(45deg, #8c8c8c 25%, transparent 25%, transparent 75%, #8c8c8c 75%, #8c8c8c), -moz-linear-gradient(45deg, #8c8c8c 25%, transparent 25%, transparent 75%, #8c8c8c 75%, #8c8c8c);
  background-image: linear-gradient(45deg, #8c8c8c 25%, transparent 25%, transparent 75%, #8c8c8c 75%, #8c8c8c), linear-gradient(45deg, #8c8c8c 25%, transparent 25%, transparent 75%, #8c8c8c 75%, #8c8c8c);
  height: 233px;
}

button {
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  padding: 13px;
}

.body {
  display: grid !important;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}
.body .header {
  grid-column: 1;
  grid-row: 1;
  padding-top: 34px;
  padding-right: 21px;
  padding-bottom: 34px;
  padding-left: 21px;
}
.body .main {
  grid-column: 1;
  grid-row: 2;
  padding-top: 34px;
  padding-right: 21px;
  padding-bottom: 34px;
  padding-left: 21px;
}
.body .footer {
  grid-column: 1;
  grid-row: 3;
}
@media screen and (min-width: 800px) {
  .body {
    display: grid !important;
    grid-template-columns: 21% 79%;
    grid-template-rows: auto auto;
  }
  .body .header {
    grid-column: 1;
    grid-row: 1;
    height: 100vh;
  }
  .body .main {
    grid-column: 2;
    grid-row: 1;
  }
  .body .footer {
    grid-column: 2;
    grid-row: 2;
  }
}
.player-name {
  font-family: "Lora", serif;
  font-size: 2em;
  font-weight: 700;
  color: #000000;
}

.player-status {
  font-family: "Lora", serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #575757;
}

.player-health .player-barracks .fa-chess-king,
.player-health .player-barracks .fa-chess-queen,
.player-health .player-barracks .fa-chess-bishop,
.player-health .player-barracks .fa-chess-rook,
.player-health .player-barracks .fa-chess-pawn {
  font-size: 1.3em;
}

.player {
  display: grid !important;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto auto;
  padding: 34px;
  border: 1px solid #e3e3e3;
}
.player .player-image {
  grid-column: 1;
  grid-row: 1;
}
.player .player-name {
  grid-column: 1;
  grid-row: 2;
  padding-top: 13px;
}
.player .player-status {
  grid-column: 1;
  grid-row: 3;
  padding-top: 8px;
}
.player .player-color {
  grid-column: 1;
  grid-row: 4;
  padding-top: 5px;
}
.total-play-time {
  font-family: "Lora", serif;
  font-size: 1.6em;
  font-weight: 400;
  color: #575757;
}

.save-slot {
  display: grid !important;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  padding: 34px;
  border: 1px solid #e3e3e3;
}
.save-slot .player-image {
  grid-column: 1;
  grid-row: 1;
}
.save-slot .player-name {
  grid-column: 1;
  grid-row: 2;
  padding-top: 13px;
  padding-bottom: 13px;
}
.save-slot .total-play-time {
  grid-column: 1;
  grid-row: 3;
  padding-top: 13px;
  padding-bottom: 13px;
}
.save-slot .save-buttons {
  grid-column: 1;
  grid-row: 4;
}
@media screen and (min-width: 800px) {
  .save-slot {
    display: grid !important;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }
  .save-slot .player-image {
    grid-column: 1;
    grid-row: 1/span 2;
  }
  .save-slot .player-name {
    grid-column: 2;
    grid-row: 1;
  }
  .save-slot .total-play-time {
    grid-column: 2;
    grid-row: 2;
  }
  .save-slot .save-buttons {
    grid-column: 3;
    grid-row: 1;
  }
}
.message-content {
  font-size: 1.5em;
  line-height: 1.5;
}

.message-box {
  display: grid !important;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  padding: 34px;
  border: 1px solid #e3e3e3;
}
.message-box .player-image {
  grid-column: 1;
  grid-row: 1;
}
.message-box .player-name {
  grid-column: 1;
  grid-row: 2;
  padding-top: 13px;
  padding-bottom: 13px;
}
.message-box .message-content {
  grid-column: 1;
  grid-row: 3;
  padding-bottom: 13px;
}
@media screen and (min-width: 800px) {
  .message-box {
    display: grid !important;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .message-box .player-image {
    grid-column: 1;
    grid-row: 1/span 2;
    padding-right: 34px;
  }
  .message-box .player-name {
    grid-column: 2;
    grid-row: 1;
    padding-top: 0;
  }
  .message-box .message-content {
    grid-column: 2;
    grid-row: 2;
  }
}
.chessboard {
  width: 500px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
}
.chessboard .rank {
  max-width: 100%;
}
.chessboard .black {
  display: inline-block;
  background-color: #000000;
  width: 100px;
  max-width: 12.5%;
  height: 100px;
  max-height: 12.5%;
}
.chessboard .white {
  display: inline-block;
  background-color: #ffffff;
  width: 100px;
  max-width: 12.5%;
  height: 100px;
  max-height: 12.5%;
}

.header {
  background-color: #000000;
  color: #ffffff;
}
.header .brand {
  font-size: 2.1em;
  font-family: "Lora", serif;
  margin-bottom: 8px;
}
.header .tagline {
  font-style: italic;
  margin-bottom: 13px;
}
.header nav {
  margin-top: 21px;
}
.header nav ul li {
  padding-top: 5px;
  padding-right: 5px;
}
.header nav ul ul li {
  padding-left: 5px;
}
.header nav a {
  color: #ffffff;
}

.play-view {
  display: grid !important;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
}
.play-view .chessboard {
  grid-column: 1;
  grid-row: 1;
}
.play-view .player {
  grid-column: 1;
  grid-row: 2;
  margin-top: 21px;
}
.play-view .message-box {
  grid-column: 1;
  grid-row: 3;
  margin-top: 21px;
}
@media screen and (min-width: 800px) {
  .play-view {
    display: grid !important;
    grid-template-columns: 89% auto;
    grid-template-rows: auto auto;
  }
  .play-view .chessboard {
    grid-column: 1;
    grid-row: 1;
  }
  .play-view .player {
    grid-column: 2;
    grid-row: 1;
    margin-top: 0;
  }
  .play-view .message-box {
    grid-column: 1/span 2;
    grid-row: 2;
  }
}

/*# sourceMappingURL=styles.css.map */
