.border-solid {
  border: 1px solid #e3e3e3;
}

.border-groove {
  border: 1px groove #e3e3e3;
}

.border-double {
  border: 6px double #e3e3e3;
}

.mages {
  background: repeating-linear-gradient(325deg, #ffffff, #ffffff 5px, #8c8c8c 5px, #8c8c8c 8px);
  /* End color */
  background-size: 100%;
  height: 233px;
}

.loyalists {
  background-color: #ffffff;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  background-image: -webkit-linear-gradient(45deg, #8c8c8c 25%, transparent 25%, transparent 75%, #8c8c8c 75%, #8c8c8c), -webkit-linear-gradient(45deg, #8c8c8c 25%, transparent 25%, transparent 75%, #8c8c8c 75%, #8c8c8c);
  background-image: -moz-linear-gradient(45deg, #8c8c8c 25%, transparent 25%, transparent 75%, #8c8c8c 75%, #8c8c8c), -moz-linear-gradient(45deg, #8c8c8c 25%, transparent 25%, transparent 75%, #8c8c8c 75%, #8c8c8c);
  background-image: linear-gradient(45deg, #8c8c8c 25%, transparent 25%, transparent 75%, #8c8c8c 75%, #8c8c8c), linear-gradient(45deg, #8c8c8c 25%, transparent 25%, transparent 75%, #8c8c8c 75%, #8c8c8c);
  height: 233px;
}

.character-name {
  font-family: "Lora", serif;
  font-size: 2.3em;
  font-weight: 700;
  color: #000000;
}

.character-job {
  font-family: "Lora", serif;
  font-size: 1.8em;
  font-weight: 400;
  color: #575757;
}

.hit-points meter {
  -webkit-appearance: none;
  /* Reset appearance */
  border: 1px solid #8c8c8c;
  width: 300px;
  background-color: #575757;
}

.magic-points meter {
  -webkit-appearance: none;
  /* Reset appearance */
  border: 1px solid #8c8c8c;
  width: 300px;
  background-color: #575757;
}

.experience-points meter {
  -webkit-appearance: none;
  /* Reset appearance */
  border: 1px solid #8c8c8c;
  width: 300px;
  background-color: #575757;
}

.character-profile {
  display: grid !important;
  grid-template-columns: 34% 55% 8%;
  grid-template-rows: auto auto auto auto auto auto;
  padding-left: 34px;
  padding-right: 34px;
}
.character-profile .character-image {
  grid-column: 1;
  grid-row: 1;
}
.character-profile .character-level {
  grid-column: 1;
  grid-row: 2;
}
.character-profile .character-name {
  grid-column: 2;
  grid-row: 1;
}
.character-profile .character-job {
  grid-column: 2;
  grid-row: 2;
}
.character-profile .hit-points {
  grid-column: 2;
  grid-row: 3;
}
.character-profile .magic-points {
  grid-column: 2;
  grid-row: 4;
}
.character-profile .experience-points {
  grid-column: 2;
  grid-row: 5;
}
@media screen and (min-width: 320px) {
  .character-profile {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
  }
  .character-profile .character-image {
    grid-column: 1;
    grid-row: 1;
  }
  .character-profile .character-name {
    grid-column: 1;
    grid-row: 2;
  }
  .character-profile .character-job {
    grid-column: 1;
    grid-row: 3;
  }
  .character-profile .hit-points {
    grid-column: 1;
    grid-row: 4;
  }
  .character-profile .magic-points {
    grid-column: 1;
    grid-row: 5;
  }
  .character-profile .experience-points {
    grid-column: 1;
    grid-row: 6;
  }
}
.character-level-up {
  display: grid !important;
  grid-template-columns: 34% 55% 8%;
  grid-template-rows: auto auto auto auto auto;
}
.character-level-up .character-image {
  grid-column: 1;
  grid-row: 1;
}
.character-level-up .character-name {
  grid-column: 2;
  grid-row: 1;
}
.character-level-up .character-job {
  grid-column: 2;
  grid-row: 2;
}
.character-level-up .hit-points {
  grid-column: 2;
  grid-row: 3;
}
.character-level-up .magic-points {
  grid-column: 2;
  grid-row: 4;
}
.character-level-up .experience-points {
  grid-column: 2;
  grid-row: 5;
}

.dialogue-box {
  display: grid !important;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}
.dialogue-box .character-image {
  grid-column: 1;
  grid-row: 1;
}
.dialogue-box .character-name {
  grid-column: 1;
  grid-row: 2;
}
.dialogue-box .dialogue-content {
  grid-column: 1;
  grid-row: 3;
}
@media screen and (min-width: 800px) {
  .dialogue-box {
    display: grid !important;
    grid-template-columns: 21% 55%;
    grid-template-rows: auto auto;
  }
  .dialogue-box .character-image {
    grid-column: 1;
    grid-row: 1;
  }
  .dialogue-box .character-name {
    grid-column: 2;
    grid-row: 1;
  }
  .dialogue-box .dialogue-content {
    grid-column: 2;
    grid-row: 2;
  }
}
.char-profile {
  display: grid !important;
  grid-template-columns: 144px 125px 50px auto;
  grid-template-rows: 50px 50px 50px 50px 20px 20px;
}
.char-profile .name {
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 21px;
  font-family: "Lora", serif;
  font-size: 2.5em;
  font-weight: 700;
  grid-column: 2/span 4;
  grid-row: 1;
  color: #000000;
}
.char-profile .job {
  padding-top: 21px;
  padding-bottom: 21px;
  font-family: "Lora", serif;
  font-size: 1.8em;
  font-weight: 400;
  grid-column: 2/span 4;
  grid-row: 2;
  color: #575757;
}
.char-profile .img {
  padding: 21px;
  grid-column: 1;
  grid-row: 1;
}
.char-profile .lvl {
  grid-column: 2/span 4;
  grid-row: 3;
  color: #8c8c8c;
  text-transform: lowercase;
}
.char-profile .lvl .number {
  font-family: "Lora", serif;
  font-size: 2em;
  font-weight: 400;
}
.char-profile .lvl progress {
  -webkit-appearance: none;
  /* Reset appearance */
  border: 1px solid #8c8c8c;
  width: 300px;
  background-color: #575757;
}
.char-profile .hp {
  grid-column: 2;
  grid-row: 4;
}
.char-profile .hp meter {
  border: 1px solid #8c8c8c;
  width: 300px;
  background-color: #575757;
}
.char-profile .mp {
  grid-column: 2;
  grid-row: 5;
}
.char-profile .mp meter {
  border: 1px solid #8c8c8c;
  width: 300px;
  background-color: #575757;
}
.char-profile .mp meter::-webkit-meter-optimum-value {
  background-color: steelblue;
}

body {
  margin: 0 auto;
  line-height: 16px;
}

.logo h1 {
  font-family: "Lora", serif;
}

.logo img {
  margin-top: 18px;
  width: 50px;
}

/*# sourceMappingURL=styles.css.map */
