button {

  background-color: $white;
  border: 1px solid $lightest-grey;
  cursor: pointer;
  font-family: $body-font;
  font-size: 0.9em;
  padding: $base-unit * fibonacci(6);

  // Transitions
  transition-duration: 0.4s;

  // Hover
  &:hover {
    background-color: $black;
    color: $white;
  }

}