.dialogue-box {

  display: grid !important;
  grid-template-columns: 136px 100px auto;
  grid-template-rows: 50px auto;

  // The dialoguing character's image
  .img {

  }
  
  // The dialoguing character's name
  .name {

    font-family: $title-font;
    font-size: 2.2em;
    font-weight: 700;
    grid-column: 2 / span 3;
    grid-row: 1 / auto;
    color: $black;

  }

  // What the dialoguing character is saying
  .text {

    font-family: $body-font;
    font-size: 1.4em;
    grid-column: 2 / span 3;
    grid-row: 2 / auto;
    color: $dark-grey;
    
  }
}