.item-profile {

  display: grid !important;
  grid-template-columns: 150px 125px auto;
  grid-template-rows: 50px 50px auto;

  // The item's name
  .name {

    font-family: $title-font;
    font-size: 2em;
    font-weight: 700;
    grid-column: 2 / span 3;
    grid-row: 1;
    color: $black;

  }

  // The item's image
  .img {

    grid-column: 1 / span 2;
    grid-row: 1;

  }

  // The item's description
  .description {

    font-family: $body-font;
    font-size: 1.4em;
    font-weight: 400;
    grid-column: 2 / span 3;
    grid-row: 2;
    color: $middle-grey;

  }

}