$spacing-base-unit: 5px;

.tightest {
  padding: $spacing-base-unit * 1;
}

.tight {
  padding: $spacing-base-unit * 2;
}

.medium {
  padding: $spacing-base-unit * 3;
}

.loose {
  padding: $spacing-base-unit * 5;
}

.loosest {
  padding: $spacing-base-unit * 8;
}