.save-slot {

  // Grid
  display: grid !important;
  grid-template-columns: 55% auto;
  grid-template-rows: auto auto auto auto auto auto;

  // Padding
  padding: $base-unit * fibonacci(8);

  // Borders
  border: 1px solid $lightest-grey;

  // Position
  position: relative;

  .file-number {
    position: absolute;
    top: 0;
    left: 0;
  }

  .player-name {
    grid-column: 1 / span 2;
    grid-row: 1;

    // Padding
    margin-top: $base-unit * fibonacci(6);
  }

  .save-date {
    grid-column: 1 / span 2;
    grid-row: 2;

    // Padding
    margin-top: $base-unit * fibonacci(6);
  }

  .total-play-time {
    grid-column: 1 / span 2;
    grid-row: 3;

    // Padding
    margin-top: $base-unit * fibonacci(6);
  }

  .save-buttons {
    grid-column: 1;
    grid-row: 4;

    // Padding
    margin-top: $base-unit * fibonacci(8);
  }

  // On medium
  @media screen and (min-width: $break-medium) {

  }

  // On wide
  @media screen and (min-width: $break-wide) {

  }

}